@font-face{
	font-family: 'Gilroy';
	src: url(../fonts/gilroyextrabold.woff),
		 url(../fonts/gilroyextrabold.woff2);
	font-style: normal;
	font-weight: 800;
}

@font-face{
	font-family: 'Gilroy';
	src: url(../fonts/gilroylight.woff),
		 url(../fonts/gilroylight.woff2);
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: 'Open Sans';
	src: url(../fonts/opensans.woff),
		 url(../fonts/opensans.woff2);
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: 'Open Sans';
	src: url(../fonts/opensanslight.woff),
		 url(../fonts/opensanslight.woff2);
	font-style: normal;
	font-weight: 300;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body{
	min-width: 1200px;
	font-size: 15px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
  	line-height: 2;
}

button{
	background-color: transparent;
	border: none;
}

a{color: #000000;}

input{
	background-color: transparent;
	border: none;	
}


/* Центровщик */
.container{
	width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.head2{		
	font-size: 47px;
	line-height: 57px;
	letter-spacing: 0.5px;
}

.nav-btn,
.popup-btn{	
	font-size: 18px;	
	letter-spacing: 3.6px;
	text-transform: uppercase;	
	font-weight: 800;
	padding: 0;
}
button.btn-registed{
	color: rgba(0, 0, 0, 0.302);
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	padding-left: 18px;
}

.btn-user,
.nav__item,
.desc,
input::placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: 300;	
}

.desc{
	color:#464646;
	line-height: 2;
	margin-bottom: 30px;
	font-weight: 400;
}

.popular__img-title,
.about__item
{
	font-size: 18px;
}

.header{
	display: flex;
	margin-top:40px;
	padding: 43px 59px 0;
	min-height: 190px;
	background-color: #f7e296;
	position: relative;
}

body header.header-catalog{
	min-height: 186px;
}

.header-logo{
	width: 165px;
	position: absolute;
	top:-19px;
}

.user-wrapper .btn-user__entry,
.btn-list .btn-user__compare,
.btn-list .btn-user__bascket,
.footer__btn-user,
.footer__entry
{
	display: inline-block;
	position: relative;
	padding-left: 26px;
}

.user-wrapper .btn-user__entry::before,
.btn-list .btn-user__compare::before,
.btn-list .btn-user__bascket::before,
.footer__btn-user::before,
.footer__entry::before
{
	content: "";
	position: absolute;
	top:50%;
	left:0;
	width:18px;
	height: 15px;
	transform: translateY(-37%);	
}

.user-wrapper .btn-user__entry::before
{
	background: url("../img/user.svg") no-repeat 0 0;
}

.btn-list .btn-user__compare::before{
	background: url("../img/compare.svg") no-repeat 7px 2px;
}

.btn-list .btn-user__bascket::before{
	background: url("../img/cart.svg") no-repeat 3px 0;
}

.footer__btn-wrap .footer__entry::before{
	background: url("../img/user-yellow.png") no-repeat 0 0;
}

.footer__btn-wrap .footer__compare::before{
	background: url("../img/compare-yellow.png") no-repeat 5px 0;
}

.footer__btn-wrap .footer__bascket::before{
	background: url("../img/cart-yellow.png") no-repeat 4px 0;
}


/* Сетка*/
.left-block{
	width:541px;
}

.right-block{
	width:500px;
}

.left-block{
	display: flex;
	flex-direction: column;
	/*background-color: #ccf;*/
}

.search-wrap{
	margin-bottom: 37px;
	position: relative;
	padding-left: 40px;
}

.search-wrap::before{
	content: "";
	position: absolute;
	width: 17px;
    height: 17px;
    top: 8px;
    left: 4px;
	background: url("../img/search.svg") no-repeat 0 0;
}

.right-block{
	display: flex;
	flex-direction: column;
	/*background-color: #fcc;*/
}

.about-contacts-wrapper{
	display: flex;	
	justify-content: space-between;
	margin-bottom: 84px;
}	


.about-container{
	width:470px;
	/*background-color: #ccf;*/
}

.contacts-container{	
	width:560px;
	/*background-color: #fcc;*/
}

.slider-container{
	margin-bottom: 105px;
}

.slider-wrap{	
	display: flex;	
	align-items: flex-start;
	/*justify-content: space-between;*/
	position: relative;	
	background: linear-gradient(to bottom, #f7e296 110px, white 0%);
}

.slider-img-wrap{
	display: flex;
	justify-content: center;
	width: 560px;
	/*background: #fcc;*/
}

.slider-inner{
	width: 500px;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	padding-top: 39px;
}

.slider-line{
	position: absolute;
	top: 35px;
	width: 100px;
	height: 7px;
	background: #fff;
}

.slider-feature-list{
	display: flex;	
}



.slider-feature__item:last-child{
	margin-right: 0;	
}

.slider-desc{
	font-family: "Open Sans", "Arial",sans-serif;
	font-weight: 300;
}

.popular-container{
	margin-bottom: 64px;	
}

.radio-btn-wrap{
	display: flex;	
	align-items: center;
	margin-top: 16px;
}

.radio-btn-list{	
	display: flex;
	padding-left: 0;
}

.radio-btn__item{
	margin-left: 20px;
}
.radio-btn__item:first-child{
	margin-left: 0;
}

.radio-btn__link{
	display: inline-block;
	width: 12px;
	height: 12px;
	border:1px solid #000;
	border-radius: 50%;
	background: #fff;
}

.radio-btn__link-active{
	position: relative;
}

.radio-btn__link-active::after{
	content: "";
	position:absolute;
	top:2px;
	left:2px;	
	width: 6px;
	height: 6px;
	border:1px solid #000;
	border-radius: 50%;
}

.popular-list{	
	display: flex;
	justify-content: space-between;	
	padding:0;
}

.popular__img-wrap{
	display: flex;	
	height: 160px;
	margin-bottom: 34px;
	background: #f7e296;	
}

.popular__figure{
	width: 160px;
	margin: 0;
}

.popular__img{	
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
}

.popular__img-1{
	background-image: url("../img/popular-1.svg");
}
.popular__img-2{
	background-image: url("../img/popular-2.svg");	
	background-position: 50% 100%;
}
.popular__img-3{
	background-image: url("../img/popular-3.svg");
}
.popular__img-4{
	background-image: url("../img/popular-4.svg");
}
.popular__img-5{
	background-image: url("../img/popular-5.svg");
}
.popular__img-6{
	background-image: url("../img/popular-6.svg");
}

.popular__img-title{
	line-height: 23px;
}

.btn-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 30px;
}

.btn-list{
	display: flex;
	margin: 0;	
}

.btn-list li{
	margin-left: 40px;
}
.btn-list li:first-child{
	margin-left: 0;
}

.advantages-list{
	display: flex;	
	padding-left: 0;
	margin-top: 32px;	
}

.advantages-list li:nth-child(1){
	margin-right: 34px;
}

.advantages-list li:nth-child(2){
	margin-right: 108px;
}

.advantages-container{
	min-height: 387px;	
	background: linear-gradient(to bottom, white 100px, #e5e5e5 0%);
}

.advantages-container div{
	display: flex;
}

.advantages-btn-list{
	display: flex;
	width: 285px;
	height: 320px;
	flex-direction: column;		
	padding-left: 0;
	margin: 0;
	border-right:7px solid #000;
}

.advantages-btn__item{
	margin-bottom: 34px;	
}
.advantages-btn__item:first-child{
	margin-top: 86px;
}
.advantages-btn__item:last-child{
	margin-bottom: 0;
}

/* Кнопки c эффектом*/
.nav-btn{
	text-align: center;
	color: #000;
	position: relative;
	z-index: 1;
}

.advantages-btn,
.slider-details{
	width: 160px;
	cursor: pointer;	
}
.slider-details{
	width: 220px;
	margin-right: 180px;
}
.filter-btn{
	margin-top: 20px;
}
.filter-btn,
.popup-btn,
.bascket-btn{
	width: 200px;
	cursor: pointer;
}
.contacts-link,
.about-details{
	display: inline-block;
	width: 260px;
}

.advantages-btn,
.contacts-link,
.about-details,
.slider-details,
.filter-btn,
.popup-btn{	
	text-align: center;
	color: #000;
	position: relative;
	z-index: 1;
}
.advantages-btn::after,
.filter-btn::after,
.popup-btn::after,
.bascket-btn::after{
	transform: translateY(5px);
}

.contacts-link::after,
.about-details::after,
.slider-details::after{
	transform: translateY(14px);
}

.advantages-btn::after,
.contacts-link::after,
.about-details::after,
.slider-details::after,
.filter-btn::after,
.popup-btn::after,
.bascket-btn::after{
	content:"";
	position: absolute;
	left:0;	
	width:100%;
	height: 8px;
	background: #f0c52e;
	z-index: -1;	
}

.advantages-btn:hover::after,
.filter-btn:hover::after,
.popup-btn:hover::after,
.bascket-btn:hover::after
{
	transform: translateY(-10px);
}
.contacts-link:hover::after,
.about-details:hover::after,
.slider-details:hover::after{
	transform: translateY(-2px);
}

.advantages-btn:hover::after,
.contacts-link:hover::after,
.about-details:hover::after,
.slider-details:hover::after,
.filter-btn:hover::after,
.popup-btn:hover::after,
.bascket-btn:hover::after{
	padding: 20px 0;	
	transition: all 0.5s ease 0s;
}

.advantages-btn:active::after
{
	padding: 20px 0;	
	background: #000;
	transform: translateY(-10px);
	box-shadow: 120px 0 0 #000;
}
.advantages-btn:active,
button.advantages-btn__active{
	color:#f7e184;
}

button.advantages-btn__active::after{
	padding: 20px 0;	
	background: #000;
	transform: translateY(-10px);
	box-shadow: 120px 0 0 #000;
}

.advantages-wrap{
	width: 809px;
	padding-left: 115px;	
	background-position: 100% 54%;
	background-repeat: no-repeat;	
}

.advantages-wrap-1{
	background-image: url("../img/delivery.svg");
}
.advantages-wrap-2{
	background-image: url("../img/warranty.svg");
}
.advantages-wrap-3{
	background-image: url("../img/credit.svg");
}

.advantages-inner{
	display: flex;
	flex-direction: column;	
}

.advantages-head{
	font-size: 47px;
	line-height: 0;
	padding-top: 58px;
	letter-spacing: 1px;
}

.advantages-text{
	width: 430px;
}

.logo-container{
	margin: 90px 0 83px;
}

.logo-list{
	display: flex;
	padding-left: 0;
	padding-top: 5px;
}

.logo__item{
	margin-right: 40px;
}

.logo__item:last-child{
	margin-right:0;
}

h2.about-head,
h2.contacts-head{
	line-height: 0;
	padding-bottom: 28px;
}

.line-about{
	display: inline-block;
	margin-bottom: 20px;
	width: 80px;
	height: 7px;
	background: #000;
}

.contacts-map{
	margin: 9px 0 61px;
}

.about-list{
	margin: 38px 0 58px;
    padding-left: 35px;
}

.about__item{
	position: relative;
	margin-bottom: 4px;
	letter-spacing: -1px;
}

.about__item::before{
	content:"";
	position: absolute;	
	left:-34px;
	top:15px;
	width: 8px;
	height: 8px;
	border: 2px solid #e4e4e4;
	border-radius: 5px;
}


.footer-wrap-1,
.footer-wrap-3{
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.footer-wrap-2{	
	display: flex;	
	justify-content: space-between;	
	margin-top: 16px;
}

.footer-advantages-list{
	width: 430px;
	margin-left: -34px;
}

.socials-wrap{
	margin-left: -54px;
}

.footer-advantages-list,
.socials-wrap{	
	display: flex;
	padding-left: 0;
}

.footer-advantages__item{
	margin-right: 34px;
}

.footer-advantages__item:last-child{
	margin-right: 0;
}

.footer__btn-user{
	margin-left: 40px;
	color: #fff;
}
.footer__btn-user:first-child,
.socials__item:first-child{
	margin-left: 0;
}

.socials__item{
	margin-left: 22px;
}

.socials__link{	
	display: inline-block;
	width: 32px;
	height: 32px;
	position: relative;
	font-size: 0;	
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	border-radius: 25px;
	opacity:0.3;
}

.facebook{	
	background-image: url("../img/fb.svg");
}

.instagram{
	background-image: url("../img/instagram.svg");
}

.twitter{
	background-image: url("../img/twitter.svg");
}

.tel{
	align-self: flex-end;
}

.footer-line{
	display: inline-block;
	margin-top: 16px;
	width: 80px;
	height: 7px;
	background: #f0c52e;
}
.logo-html{
	display: inline-block;
	margin-top: 15px;
	width: 27px;
	height: 38px;
	background: url("../img/logo-html.png") no-repeat 0 0;
}

.socials__link:hover{
	opacity:0.6;
}
.socials__link:active{
	opacity:0.1;
}

/* catalog.html*/
.breadcrumbs-list,
.sorting,
.product-container
{
	display: flex;
	flex-wrap: wrap;
}

.catalog-top{
	margin-bottom: 39px;
}

.catalog-head,
.breadcrumbs-list{
	margin-left: 60px;
}

.catalog-head{
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 13px;
	font-size: 47px;
	letter-spacing: 0.6px;
}

.breadcrumbs-list{	
	padding: 0;
	margin-top: 0;

}

.breadcrumbs__item{
	margin-right: 23px;
    padding: 0 19px 5px 0;
	background: url("../img/nav-arrow.svg") no-repeat 100% 50%;
}

.breadcrumbs__item:last-child{
	background: none;
	margin-right: 0;	
	padding-right: 0;
}

.main-aside-inner{
	background-image: linear-gradient(to right, #EBEBEB 28%, #fff 28%);
}
.main-aside-inner{

}
.main-aside-inner div{
	display: flex;
	justify-content: space-between;
	
}

/* Фильтр-заголовок*/
.filter-header-container{
	
	position: relative;	
	background-color: #ebebeb;
	background-image: linear-gradient(to right, #DBDBDB 28%, #ebebeb 28%);
}
.filter-header-container div{
	display: flex;
	justify-content: space-between;
}


.filter-header__left{
	width: 268px;
	background: #dbdbdb;
	margin-left: 60px;
}
.filter-header__right{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 760px;	
}

.filter-header__left h2{
	line-height: 0;
	padding:20px 0;
}

.filter-header__left h2,
.filter-header__right h2{
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2.5px;

}

.filter-header__right h2.sorting-head{
	line-height: 0;
	margin-right: 50px;
}

.sorting-link{
	margin-right: 30px;
}

.left-arr,
.right-arr{
	width:20px;
	height: 20px;	
	margin-left: 10px;
	cursor: pointer;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.left-arr{
	background-image: url("../img/icon-up-dir.svg");
}
.right-arr{
	background-image: url("../img/icon-down-dir.svg");
}
span.arr-blocked,
.left-arr:hover{
	background-image: url("../img/icon-up-dir-grey.svg");
}
.right-arr:hover{
	background-image: url("../img/icon-down-dir-grey.svg");
}


/* Сам фильтр - левый блок */
.filter-container{
	width: 268px;
	background: #ebebeb;
	margin-left: 60px;
}

.filter-form{
	width: 200px;
	padding-top: 69px;
}
.filter-wrap{
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
	
}
.filter-wrap h3{
	margin-top: 6px;
}
.filter-wrap-3 .filter-line{
	margin-top: 9px;
}


.filter-line{
	width: 100%;
	height: 2px;
	background-color: #000;
}

.range-filter{
	display: flex;
	flex-direction: column;	
	margin-top: 11px;
	margin-bottom: 20px;
}

.range-controls{
	position: relative;
}
.range-controls .scale {
	width: 200px;
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar {
  width: 110px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top:-10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle::before{
	content: "";
	position: absolute;
	left:8px;
	top:8px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border-radius: 50%;
}

.range-controls .toggle-min {
  left: -10px;
}
.range-controls .toggle-max {
  left: 108px;
}

.price-controls{
	display: block;	
}

.price-controls{
	font-size: 0;
}

.price-controls label{
	display: inline-block;
	width: 50%;  
	font-size: 14px;
	color:#cfcfcf;
	font-weight: 300;	
}

.price-controls input{
	width: 50px;
	padding: 8px 0 8px 5px;
	font-family: Gilroy, Arial, sans-serif;
	font-size: 14px;	
	color: #cfcfcf;
	font-weight: 300;	
}

input[type="checkbox"],
input[type="radio"]{
	display: none;	
}


input[type="checkbox"] + label,
input[type="radio"] + label{
	display: inline-block;
	line-height: 28px;
	padding-left: 40px;	
	margin-bottom: 12px;
	cursor: pointer;	
	vertical-align: top;
	position: relative;
}


input[type="checkbox"] + label::before,
input[type="checkbox"]:checked + label::before,
input[type="radio"] + label::before,
input[type="radio"]:checked + label::before
{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	display: block;
	width: 25px;
	height: 25px;	
}

input[type="checkbox"] + label::before{
	background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

input[type="checkbox"]:checked + label::before{	
	background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

input[type="radio"] + label::before{
	background: url("../img/radio-off.svg") no-repeat 0 0;
}

input[type="radio"]:checked + label::before{
	background: url("../img/radio-on.svg") no-repeat 0 0;
}

.product-outer{
	width: 760px;
	display: flex;
	flex-direction: column;
}

.product-name-wrap{
	display: flex;
	justify-content: space-between;	
	padding: 20px 0;
}

/*.product-name-link{

	display: inline-block;
}*/
.product-head{
	letter-spacing: 0.5px;
	line-height: 24px;
	max-width:240px;
	margin: 0;
}

.sorting{
	align-items: center;
	justify-content: space-around;	
}

.product-hover-wrap{
	position: absolute;
	top:184px;
	left:50%;
	margin-left: -100px;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-hover__text{
	font-size: 13px;
	color: #a4a4a4;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
}
.product-img:hover{
	opacity: 0.7;
}
.product-img:hover + .product-hover-wrap{
	display: flex;
}

.product-container{	
	justify-content: space-between;
	margin-top: 70px;
}

.product-link-wrap{
	display: flex;
	flex-direction: column;
	/*display: inline-block;*/
	max-width: 360px;
	width: 100%;  
	position: relative;  
}

.product-wrap{	
	margin-bottom: 26px;
}

.pagination{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background: #ebebeb;
	margin-bottom: 77px;
	margin-top: -8px;
}
.pagination-num-wrap{
	margin-left: 10px;
}
.pagination-num-wrap .pagination-link{
	padding: 0 14px;
}

.pagination-prev,
.pagination-next{	
	padding: 20px 30px;	
	text-transform: uppercase;
	letter-spacing: 4px;
}

/* Подвал */
.footer-btn-wrapper{
	display: flex;	
}

.footer__btn-wrap{
	margin-top: -7px;
}

.footer__btn-wrap a.btn-registed{
	margin-left: 0;	
	padding-left: 18px;
}


.footer__btn-wrap .btn-user{
	margin-left: 34px;	
}

/* end Сетка*/

.slider-head{
	font-size: 47px;
	margin-bottom: 3px;
}


.search:focus,
.sorting-link:active,
a.sorting-link__active,
a.pagination-active,
.pagination-link:active{
	color:#000;	
}


.search:hover::placeholder,
.btn-catalog:hover,
.advantages__item:hover,
.btn-user:hover,
.nav__item:hover,
.breadcrumbs__link:hover,
.sorting-link:hover,
.pagination-link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.search,
.btn-catalog:active,
.advantages__item:active,
.btn-user:active,
.nav__item:active,
.popular__img-title:active,
.sorting-link,
.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__link:active,
.pagination-link,
.pagination-prev:active,
.pagination-next:active{
	color: rgba(0, 0, 0, 0.302);
}

.btn-catalog:hover + .navigation{
	display: flex;
}

.breadcrumbs__link:active{
	color: rgba(0, 0, 0, 0.102);
}

.btn-catalog::after,
.btn-catalog::before{
	content:"";
	position: absolute;
	top:9px;
	right: -16px;
	width: 17px;
	height: 2px;
	background-color: #b8a974;	
}



.btn-catalog{
	padding-right: 13px;	
	cursor: pointer;
	position: relative;
}
.btn-catalog::after{
	transform: rotate(90deg);
}

.slider-number{	
	position: absolute;
	top: -106px;
    right: 48px;
	font-size: 179px;
	color: #fff;
	letter-spacing: 1px;	
}

.slider-feature-list{
	padding-left: 0;
	margin-top: 27px;
}

.slider-feature__item{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 36px;
	margin-right: 77px;	
}

.slider-feature__item span{
	display: block;
	font-size: 13px;
	line-height: 10px;
}

.breadcrumbs__item,
.breadcrumbs__link,
.sorting-link,
.color-label,
.bluetooth-label{	
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;	
	font-size: 14px;
}

.sorting-head,
.filter-head,
.pagination-link,
.pagination-prev.
.pagination-next{
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.pagination-prev:hover,
.pagination-prev:active,
.pagination-next:hover,
.pagination-next:active{
	background: #d9d9d9;
}

.product-price{
	font-size: 16px;
	font-weight: 300;
	color:#464646;
	font-style: normal;
}

/* index.html */
.main-container{

}

/* Cетка */
.navigation{
	display: none;
	width: 100%;
	position: absolute;
	left:0;
	background: #f7e296;
	z-index: 99;
    padding-left: 20px;
    margin-top: 6px;
    padding-bottom: 15px;
}

.nav-list{
	margin-right: 19px;
}
.nav-list li{
	letter-spacing: 0.2px;
	margin-bottom: 5px;
}

.nav-list:last-child{
	margin-left: 13px;
}

/* catalog.html */
.catalog-container{

}
/* catalog.html */
.filter-container{

}

.footer{
	width: 100%;	
	min-height: 325px;
	background-color: #464646;
	padding-top: 64px;
	/*padding-bottom: 65px;*/
}

.footer-advantages__link,
.address,
.socials__link,
.tel,
.footer-wrap-1 .btn-user:hover
{
	color:#fff;
}
.footer-wrap-1 .btn-user{
	 color: rgba(255, 255, 255, 0.702);
}
.footer-wrap-1 .btn-registed,
.footer-wrap-1 .btn-user:active,
.footer-advantages-list .footer-advantages__link:active{
	color: rgba(255, 255, 255, 0.302);
}

.footer-advantages__link:hover{
	color: rgba(255, 255, 255, 0.6);
}


/* Попап */
.write-us-popup{

	display:none;	
	justify-content: center;
	align-items: center;
	position: fixed;	
	top:20%;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	background: #fff;
	box-shadow: 10px 10px 20px rgba(4,6,6,0.2);
	z-index: 999;
}

.write-us-inner{
	padding: 100px;
	position: relative;
}

.popup-close,
.map-popup-btn{
	font-size: 0;
	position: absolute;
	right: 22px;
	top:22px;
	width: 54px;
	height: 54px;
	border-radius: 30px;
	cursor: pointer;
	background-color: #f7e296;	
}

.popup-close::after,
.popup-close::before,
.map-popup-btn::after,
.map-popup-btn::before{
	content: "";
	position: absolute;
	left:12px;
	width: 30px;
	height: 2px;
	background-color: #fff;	
}
.popup-close::after,
.map-popup-btn::after{
	transform: rotate(45deg);
}
.popup-close::before,
.map-popup-btn::before{
	transform: rotate(-45deg);
}

.popup-close:hover,
.map-popup-btn:hover{
	background-color: #f0c52e;
}
.popup-close:active,
.map-popup-btn:active{
	background-color: #faedc0;
}

.write-us-popup form{
	display: flex;
	flex-direction: column;
	width: 760px;
	/*background: #ccf;*/
}

.popup-form-1{
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}
.popup-form-2,
.popup__input-wrap{
	display: flex;
	flex-direction: column;
}
.popup-btn{
	align-self: flex-start;

}
.write-us-popup input,
.write-us-popup textarea{
	background: #f2f2f2;
	padding: 17px;
	border: 3px solid #f2f2f2;
	outline: none;
}

.write-us-popup input{
	width: 358px;	
}

.write-us-popup textarea{
	max-width: 100%;	
	margin-bottom: 54px;	
}

.write-us-popup input:hover,
.write-us-popup textarea:hover{
	background: #eaeaea;
	border: 3px solid #eaeaea;
}

.write-us-popup input:focus,
.write-us-popup textarea:focus{
	background: #fff;
	border: 3px solid #f7e296;
}

.map-popup{
	display: none;
	position: fixed;
	top:20%;
	left: 50%;
	margin-left: -480px;
	box-shadow: 10px 10px 20px rgba(4,6,6,0.2);
	z-index: 999;	
}

.map-popup-inner{
	position: relative;	
}

.popup__img{
	max-width: 100%;	
}