@font-face{
	font-family: 'Gilroy';
	src: url(../fonts/gilroyextrabold.woff),
		 url(../fonts/gilroyextrabold.woff2);
	font-style: normal;
	font-weight: 800;
}

@font-face{
	font-family: 'Gilroy';
	src: url(../fonts/gilroylight.woff),
		 url(../fonts/gilroylight.woff2);
	font-style: normal;
	font-weight: 300;
}

@font-face{
	font-family: 'Open Sans';
	src: url(../fonts/opensans.woff),
		 url(../fonts/opensans.woff2);
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: 'Open Sans';
	src: url(../fonts/opensanslight.woff),
		 url(../fonts/opensanslight.woff2);
	font-style: normal;
	font-weight: 300;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body{
	font-size: 15px;
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
  	line-height: 2;
}

button{
	background-color: transparent;
	border: none;
}

a{color: #000000;}

input{
	background-color: transparent;
	border: none;	
}


/* Центровщик */
.container{
	width: 1160px;
	margin: 0 auto;
}

.head2{		
	font-size: 21px;
}

.nav-btn{	
	font-size: 18px;	
	letter-spacing: 3px;
	text-transform: uppercase;	
	font-weight: 800;
}
button.btn-registed{
	color: rgba(0, 0, 0, 0.302);
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
}


.btn-user,
.nav__item,
.desc,
input::placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	font-weight: 300;	
}

.desc{
	color:#464646;
	line-height: 2;
}

.popular__img-title,
.about__item
{
	font-size: 18px;
}

.header{
	display: flex;
	margin-top:40px;
	padding: 50px 60px 0;
	min-height: 300px;
	background-color: #f7e296;
	position: relative;
}

.header-logo{
	width: 165px;
	position: absolute;
	top:-18px;
}

/* Сетка*/
.left-block,
.right-block{
	width:520px;
}

.left-block{
	background-color: #ccf;
}

.right-block{
	display: flex;
	background-color: #fcc;
}

.about-contacts-wrapper{
	display: flex;	
	align-content: space-between;
	background-color: brown;
}

.about-container{
	width:470px;
	background-color: #ccf;

}
.contacts-container{
	width:560px;
	background-color: #fcc;

}

.slider-wrap{
	display: flex;
}

.popular-list{
	display: flex;
}

.advantages-container div{
	display: flex;
}

.logo-list{
	display: flex;
}

.footer div{
	display: flex;
}
/* end Сеткаr*/

.slider-head{
	font-size: 47px;
}


.search:focus,
.sorting-link:active,
a.sorting-link__active,
.pagination-active,
.pagination-link:active{
	color:#000;	
}


.search:hover::placeholder,
.btn-catalog:hover,
.advantages__item:hover,
.btn-user:hover,
.nav__item:hover,
.breadcrumbs__link:hover,
.sorting-link:hover,
.pagination-link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.search,
.btn-catalog:active,
.advantages__item:active,
.btn-user:active,
.nav__item:active,
.popular__img-title:active,
.sorting-link,
.breadcrumbs__item,
.breadcrumbs__link,
.breadcrumbs__link:active,
.pagination-link,
.pagination-prev:active,
.pagination-next:active{
	color: rgba(0, 0, 0, 0.302);
}


.breadcrumbs__link:active{
	color: rgba(0, 0, 0, 0.102);
}

.btn-catalog::after,
.btn-catalog::before{
	content:"";
	position: absolute;
	top:10px;
	right: -16px;
	width: 17px;
	height: 2px;
	background-color: #b8a974;	
}

.btn-catalog::after{
	transform: rotate(90deg);
}

.slider-number{
	display: inline-block;
	font-size: 179px;
	/*color:#fff;*/
}
.slider-feature__item{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 36px;
}

.slider-feature__item span{
	font-size: 13px;
}

.advantages-container{
	background-color: #e5e5e5;
}

.breadcrumbs__item,
.breadcrumbs__link,
.sorting-link,
.color-label,
.bluetooth-label{	
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 300;	
	font-size: 14px;
}


.sorting-head,
.filter-head,
.pagination-link,
.pagination-prev.
.pagination-next{
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
}




.pagination-prev:hover,
.pagination-prev:active,
.pagination-next:hover,
.pagination-next:active{
	background: #d9d9d9;
}

.product-price{
	font-size: 16px;
	font-weight: 300;
	color:#464646;
}


/* index.html */
.main-container{

}

/* Cетка */
.navigation{
	display:none;
}


/* catalog.html */
.catalog-container{

}
/* catalog.html */
.filter-container{

}

.footer{
	width: 100%;	
	min-height: 325px;
	background-color: #464646;
}

.footer-advantages__link,
.address,
.socials__link,
.tel,
.footer-wrap-3 .btn-user:hover
{
	color:#fff;
}
.footer-wrap-3 .btn-user{
	 color: rgba(255, 255, 255, 0.702);
}
.footer-wrap-3 .btn-registed,
.footer-wrap-3 .btn-user:active,
.footer-advantages-list .footer-advantages__link:active{
	color: rgba(255, 255, 255, 0.302);
}

.footer-advantages__link:hover{
	color: rgba(255, 255, 255, 0.6);
}

/* Попап */
.write-us-popup{
	display: none;
}

.map-popup{
	display: none;
}

